USE [master]
GO
/****** Object:  Database [DBUsers]    Script Date: 04/29/2025 13:00:13 ******/
CREATE DATABASE [DBUsers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBUsers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBUsers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBUsers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBUsers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBUsers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBUsers]
GO
/****** Object:  Table [dbo].[TBUsers]    Script Date: 04/29/2025 13:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_TBUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBUsers] ON 

INSERT [dbo].[TBUsers] ([Id], [Name], [Password], [Mail], [IsAdmin]) VALUES (1, N'avi coehn', N'123', N'avi', 1)
INSERT [dbo].[TBUsers] ([Id], [Name], [Password], [Mail], [IsAdmin]) VALUES (2, N'benny', N'222', N'benny', 0)
SET IDENTITY_INSERT [dbo].[TBUsers] OFF
GO
USE [master]
GO
